
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div *ngIf="!authService.isLoggedIn()">
    <app-navbar></app-navbar>
  </div>
  
  <div *ngIf="authService.isLoggedIn() && authService.getUserRole() === 'customer'">
    <app-navbar-customer></app-navbar-customer>
  </div>
  
  <div *ngIf="authService.isLoggedIn() && authService.getUserRole() === 'librarian'">
    <app-navbar-librarian></app-navbar-librarian>
    <app-vertical-navbar></app-vertical-navbar>
  </div>
  
  <router-outlet></router-outlet>
  


