<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 custom-center ">
                <h1>Browse. Learn. Connect</h1>
                <p>Dive into a universe of stories, knowledge, and discovery. At New York Public Library, we provide a haven for book lovers, researchers, and lifelong learners. Explore our vast collection, join us, and let your next adventure begin.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/welcomeimage.jpg" class="img-fluid" alt="Library Image">
            </div>
        </div>
    </div>

</body>

<router-outlet></router-outlet>