<div class="container mt-5" *ngIf="book">
  <a (click)="GotoHome()" class="btn button-class mb-3">
    <i class="fas fa-home"></i> Home
  </a>
  <div class="row">
    <div class="col-md-4">
      <img [src]="book?.coverImage" class="img-fluid" alt="{{ book?.title }}">
    </div>
    <div class="col-md-8">
      <h2>{{ book?.title }}</h2>
      <h4>by {{ book?.author }}</h4>
      <p><strong>Publisher:</strong> {{ book?.publisher }}</p>
      <p><strong>Publication Date:</strong> {{ book?.publicationDate | date }}</p>
      <p><strong>Category:</strong> {{ book?.category }}</p>
      <p><strong>ISBN:</strong> {{ book?.isbn }}</p>
      <p><strong>Page Count:</strong> {{ book?.pageCount }}</p>
      <p><strong>Copies Available:</strong> {{ book?.copiesAvailable }}</p>
      <p><strong>Description:</strong></p>
      <p>{{ book?.description }}</p>
      <p><strong>Average Rating:</strong></p>
      <app-average-rating [averageRating]="book?.averageRating"></app-average-rating>
      <p>{{ book?.averageRating }}/5</p>

      <!-- Add to Cart and Add to Wishlist buttons (only for customers) -->
      <div *ngIf="isCustomer()">
        <button class="btn button-class" (click)="addToWishlist(book?.id)">
          {{ isBookInWishlist() ? 'Already in Wishlist' : 'Add to Wishlist' }}
        </button>
        <button class="btn button-class1 mr-2" (click)="addToCart(book?.id)">
          {{ isBookInCart() ? 'Already in Cart' : 'Add to Cart' }}
        </button>
       
      </div>
    </div>
  </div>

  <div *ngIf="isCustomer()">
    <button class="btn button-class" (click)="addToWishlist(book?.id)">
      {{ isBookInWishlist() ? 'Already in Wishlist' : 'Add to Wishlist' }}
    </button>
    <button class="btn button-class1 mr-2" (click)="addToCart(book?.id)">
      {{ isBookInCart() ? 'Already in Cart' : 'Add to Cart' }}
    </button>
  </div>

  <!-- Reviews Section -->
  <div class="reviews-section mt-4">
    <h3>Reviews</h3>
    <div *ngFor="let review of reviews" class="review">
      <p style="padding-bottom: 0;margin-bottom: 0 !important;"><i class="fas fa-user" [style.color]="'#004236'"></i><strong style="padding-left: 5px;">{{ review.username }}</strong></p>
      <app-average-rating [averageRating]="review.rating"></app-average-rating>
      <p>{{ review.reviewText }}</p>
    </div>
    <div *ngIf="isCustomer()" class="add-review mt-4">
      <h4>Add Your Review</h4>
      <form (ngSubmit)="submitReview()">
        <div class="form-group">
          <label for="rating">Rating</label>
          <div class="star-rating">
            <span class="star" (click)="setRating(1)" [ngClass]="{'filled': newReview.rating >= 1}">&#9733;</span>
            <span class="star" (click)="setRating(2)" [ngClass]="{'filled': newReview.rating >= 2}">&#9733;</span>
            <span class="star" (click)="setRating(3)" [ngClass]="{'filled': newReview.rating >= 3}">&#9733;</span>
            <span class="star" (click)="setRating(4)" [ngClass]="{'filled': newReview.rating >= 4}">&#9733;</span>
            <span class="star" (click)="setRating(5)" [ngClass]="{'filled': newReview.rating >= 5}">&#9733;</span>
          </div>
        </div>
        <div class="form-group">
          <label for="reviewText">Review</label>
          <textarea id="reviewText" [(ngModel)]="newReview.reviewText" name="reviewText" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn button-class" style="margin-top:15px;">Submit Review</button>
      </form>
    </div>
  </div>
</div>




<!-- Wishlist Modal -->
<div #wishlistModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Item Added to Wishlist Successfully!</h5>
        <button type="button" id="closeModalButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalWishlist()">
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <img [src]="book?.coverImage" class="img-fluid" alt="{{ book?.title }}">
          </div>
          <div class="col-md-8">
            <h3>{{ book?.title }}</h3>
            <h5> by {{ book?.author }}</h5>
            <button class="btn button-class" (click)="goToWishlist()">Go to Wishlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div #cartModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Item Added to cart Successfully!</h5>
        <button type="button" id="closeModalButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalCart()">
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <img [src]="book?.coverImage" class="img-fluid" alt="{{ book?.title }}">
          </div>
          <div class="col-md-8">
            <h3>{{ book?.title }}</h3>
            <h5> by {{ book?.author }}</h5>
            <button class="btn button-class1" (click)="goToCart()">Go to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
