<div class="container mt-5" *ngIf="book">
  <div class="row">
    <div class="col-md-4">
      <img [src]="book?.coverImage" class="img-fluid" alt="{{ book?.title }}">
    </div>
    <div class="col-md-8">
      <h2>{{ book?.title }}</h2>
      <h4>by {{ book?.author }}</h4>
      <p><strong>Publisher:</strong> {{ book?.publisher }}</p>
      <p><strong>Publication Date:</strong> {{ book?.publicationDate | date }}</p>
      <p><strong>Category:</strong> {{ book?.category }}</p>
      <p><strong>ISBN:</strong> {{ book?.isbn }}</p>
      <p><strong>Page Count:</strong> {{ book?.pageCount }}</p>
      <p><strong>Copies Available:</strong> {{ book?.copiesAvailable }}</p>
      <p><strong>Description:</strong></p>
      <p>{{ book?.description }}</p>
      <p><strong>Average Rating:</strong></p>
      <app-average-rating [averageRating]="book?.rating"></app-average-rating>
      <p>{{ book?.rating }}/5</p>

      <!-- Add to Cart and Add to Wishlist buttons (only for customers) -->
      <div *ngIf="isCustomer()">
        <button class="btn btn-primary mr-2" (click)="addToCart(book?.id)">
          {{ isBookInCart() ? 'Already in Cart' : 'Add to Cart' }}
        </button>
        <button class="btn btn-success" (click)="addToWishlist(book?.id)">
          {{ isBookInWishlist() ? 'Already in Wishlist' : 'Add to Wishlist' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Wishlist Modal -->
<div #wishlistModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Item Added to Wishlist Successfully!</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <img [src]="book?.coverImage" class="img-fluid" alt="{{ book?.title }}">
          </div>
          <div class="col-md-8">
            <h4>{{ book?.title }} by {{ book?.author }}</h4>
            <!-- Other details as needed -->
            <button class="btn btn-primary" (click)="goToWishlist()">Go to Wishlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div #cartModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Item Added to cart Successfully!</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <img [src]="book?.coverImage" class="img-fluid" alt="{{ book?.title }}">
          </div>
          <div class="col-md-8">
            <h4>{{ book?.title }} by {{ book?.author }}</h4>
            <!-- Other details as needed -->
            <button class="btn btn-primary" (click)="goToCart()">Go to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
