.edit-remove-container{
    margin-top: 150px;
    margin-left: 90px;
}

.form-group{
    margin : 15px;
}

input{
    color: #004236;
}
.button-class{
    margin: 20px 0;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
    color: #FFC0B8;
    background-color: #004236;
}
.button-class:hover {
    background-color: #FFC0B8;
    color: #004236;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
}


.button-class1{
    margin-left: 20px;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
    border: 2px solid #FFC0B8; 
    color: #004236;
}

.button-class1:hover {
    background-color: #FFC0B8;
    border: 2px solid #FFC0B8; 
    color: #004236;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
}
.search-dropdown-item:hover{
    background-color: #FFC0B8;
  }
  
  .dropdown-list {
    list-style: none;
  }

h2{
    font-family: 'Poppins';
    font-size: 1.5em;
    color: #004236;
    font-weight: bold;
  }