<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="librarylogo.png" alt="Library Logo">
  </a>
  <form class="form-inline mx-auto"  (submit)="submitSearch($event)">
    <div class="input-group">
      <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search by title, author" aria-label="Search"
        [(ngModel)]="searchTerm" name="searchTerm" (ngModelChange)="searchBooks();" >

      <div class="input-group-append">
        <button class="btn btn-search" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <!-- Dropdown section -->
      <div *ngIf="showDropdown" class="dropdown-menu show">
        <ul class="dropdown-list">
          <li *ngFor="let book of searchResults" class="search-dropdown-item" (click)="navigateToBookDetails(book)">
            <strong>{{ book.title }}</strong> by {{ book.author }}
          </li>
        </ul>
      </div>
    </div>
  </form>

  <button class="btn ml-2" (click)="goToWishlist()">
    <i class="fas fa-heart" [style.color]="'#004236'"></i>
  </button>
  <button class="btn ml-2" (click)="goToCart()">
    <i class="fas fa-shopping-cart" [style.color]="'#004236'"></i>
  </button>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn l-auto" id="navbarDropdown" role="button"
           (click)="toggleDropdown()"><i class="fas fa-user" [style.color]="'#004236'"></i>
        </a> 
        <div *ngIf="isDropdownOpen" class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="goToPastCheckouts()">My CheckOuts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </div>
      </li>
</ul>
</nav>
