.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 20px 40px;
    background-color: #F4E9DF ;
}

.navbar-brand img {
    height: 60px;
    width: 120px;
}

.buttonlogin {
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
    color: #FFC0B8;
    background-color: #004236;
    border: none;
}
.search-input {
    width: 550px; 
    box-shadow: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-search {
    background-color: #004236; 
    color: #FFC0B8;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-search:hover {
    background-color: #FFC0B8;
    color: #004236;
}

.input-group {
    height: 38px; 
}

.input-group-append {
    height: 38px; /* Set the height to match the input height */
}

.input-group-append .btn {
    padding: 7px 10px; /* Adjust padding as needed */
}


.dropdown-menu {
    right: 0; 
    left: auto;
    max-width: 100%; 
    box-sizing: border-box;
    display: block !important;
  }
 
  .dropdown-menu.show {
    margin-top: 10px;
  }
  .dropdown-item {
    white-space: nowrap;
  }
.dropdown-item:hover{
    background-color: #FFC0B8;
    color: #004236;
}

.input-group {
    position: relative;
  }
  
  .dropdown-menu.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  }
  
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-list li {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .search-dropdown-item:hover{
    background-color: #FFC0B8;
  }
  
  
.dropdown{
    padding: 0 20px;
}

.dropdown-menu {
    display: block !important; /* Force visibility */
}
 
.dropdown-item:hover{
    background-color: #FFC0B8;
    color: #004236;
}