.card {
  margin-bottom: 20px;
  margin-left: 50px;
}

.card-img {
  max-height: 180px; /* Adjust the height as needed */
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row.no-gutters {
  display: flex;
  flex-wrap: nowrap;
}

.button-class{
  font-weight: bold;
  font-family: poppins;
  padding: 10px 15px;
  border: 2px solid #FFC0B8; 
  color: #004236;
}
.button-class:hover {
  background-color: #FFC0B8;
  border: 2px solid #FFC0B8; 
  color: #004236;
  font-weight: bold;
  font-family: poppins;
  padding: 10px 15px;
}