.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-item {
    margin-bottom: 20px;
  }

  .btn-class{
    margin:30px;
    font-weight: bold;
    text-decoration: underline;
  }
  h2{
    font-family: 'Poppins';
    font-size: 1.7em;
    font-weight: bold;
    color: #004236;
  }
  h3,h4{
    font-family: 'Poppins';
    font-size: 1.5em;
    color: #004236;
    font-weight: bold;
  }
  h5{
    font-size: 1.0em;
    color: #FFC0B8;
  }
  
  .book-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-cover {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .book-details {
    flex: 1;
  }
  
  .book-details h3 {
    margin-top: 0;
  }
  
  .book-details p {
    margin: 5px 0;
  }
  

  .button-class{
    margin-top: 20px;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
    background-color: #004236;
    color: #FFC0B8;
}
.button-class:hover {
    background-color: #FFC0B8;
    color: #004236;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
}
  .button-class1{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
    border: 2px solid #FFC0B8; 
    color: #004236;
}

.button-class1:hover {
    background-color: #FFC0B8;
    border: 2px solid #FFC0B8; 
    color: #004236;
    font-weight: bold;
    font-family: poppins;
    padding: 10px 15px;
}